
.h1 {
  font-size: calc(40px + var(--font-increase));
  font-style: normal;
  font-weight: 600;
  line-height: 125%; 
}

.h2 {
  font-size: calc(28px + var(--font-increase));
  font-style: normal;
  font-weight: 600;
  line-height: 125%; 
}

.h3 {
  font-size: calc(22px + var(--font-increase));
  font-style: normal;
  font-weight: 600;
  line-height: 125%; 
}

.h4 {
  font-size: calc(18px + var(--font-increase));
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.h5 {
  font-size: calc(16px + var(--font-increase));
  font-style: normal;
  font-weight: 600;
  line-height: 125%; 
}

.h6 {
  font-size: calc(13px + var(--font-increase));
  font-style: normal;
  font-weight: 600;
  line-height: 125%; 
  text-transform: uppercase;
  letter-spacing: 0.39px;
}

.bodyText {
  font-size: calc(16px + var(--font-increase));
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.smallBodyText {
  font-size: calc(14px + var(--font-increase));
  font-style: normal;
  font-weight: 400;
  line-height: 135%; 
}

.extraSmallBodyText {
  font-size: calc(13px + var(--font-increase));
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
}

@media (max-width: 1250px) {
  .h1 {
    font-size: calc(32px + var(--font-increase))
  }
  .h2 {
    font-size: calc(22px + var(--font-increase))
  }
  .h3 {
    font-size: calc(18px + var(--font-increase))
  }
  .h4 {
    font-size: calc(16px + var(--font-increase))
  }
  .h5 {
    font-size: calc(15px + var(--font-increase))
  }
  .h6 {
    font-size: calc(10px + var(--font-increase))
  }
  .bodyText {
    font-size: calc(15px + var(--font-increase));
  }
}

@media (max-width: 1024px) {
  .h2 {
    font-size: calc(28px + var(--font-increase))
  }
  .h3 {
    font-size: calc(22px + var(--font-increase))
  }
  .h4 {
    font-size: calc(18px + var(--font-increase))
  }
  .h5 {
    font-size: calc(16px + var(--font-increase))
  }
  .h6 {
    font-size: calc(13px + var(--font-increase))
  }
  .bodyText {
    font-size: calc(16px + var(--font-increase));
  }
}

@media (max-width: 460px) {
  .h1 {
    font-size: calc(28px + var(--font-increase))
  }
  .h2 {
    font-size: calc(22px + var(--font-increase))
  }
  .h3 {
    font-size: calc(18px + var(--font-increase))
  }
  .h4 {
    font-size: calc(16px + var(--font-increase))
  }
  .h5 {
    font-size: calc(15px + var(--font-increase))
  }
  .bodyText {
    font-size: calc(15px + var(--font-increase));
  }
}


// Weight
.regular {
  font-weight: 400;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extraBold {
  font-weight: 800;
}

// Colors

.primaryLight {
  color: var(--text-primary-light);
}
.primaryDark{
  color: var(--text-primary-dark);
}
.secondary {
  color: var(--text-secondary);
}
.tertiary {
  color: var(--text-tertiary);
}
.accent{
  color: var(--text-accent);
}
