.header {
  background-color: var(--bgc-black);
  height: 72px;

  &Name {
    color: var(--white);
    font-size: 22px;
    cursor: pointer;
  }

  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.navDesktop {
  ul {
    display: flex;
    gap: 20px;

    li {
      a {
        font-size: 15px;
        color: var(--white);
      }
    }
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.burgerMenu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  svg {
    width: 24px;
    height: 24px;
    fill: var(--white);
  }

  @media (max-width: 600px) {
    display: block;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background-color: var(--bgc-black);
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: transform 0.3s ease, right 0.3s ease;
  z-index: 3;

  &Open {
    transform: translateX(-250px);
    right: -250px;
  }

  &Closed {
    transform: translateX(0);
    right: -250px;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 15px;

      a {
        font-size: 18px;
        color: var(--white);
        text-decoration: none;

        &:hover {
          color: var(--text-light);
        }
      }
    }
  }
}

.closeButton {
  background: none;
  border: none;
  align-self: flex-end;
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;
    fill: var(--white);
  }
}

@media (max-width: 600px) {
  .header {
    height: 62px;
  }
}


@media (max-width: 600px) {
  .header {
    height: 62px;
  }
}
